.SearchBar {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px 0 20px 0;
}

.SearchBox-Div {
    border: 2px solid gray;
}

.SearchBox-Input {
    min-width: 500px;
    padding: 5px 10px;
    outline: none;
    border: none;
}

.SearchBox-Button {
    height: 40px;
    padding: 5px 20px;
    outline: none;
    border: none;

}

.SearchBox-Button:hover {
    background: rgba(0, 0, 255, 0.712);
    color: white;
}