.NameList {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.NameList > ul {
    width: 90%;
    list-style: none;
    padding-left: 0;
}

.NameList > ul > li {
    background: white;
}

.NameList > ul > li:hover {
    background: gainsboro;
}

.ListItem {
    border: 1px solid grey;
    min-width: 100%;
    display: flex;
    align-items: center;
    height: 30px;
    margin-top: 2px;
}

.ListItem > a {
    padding: 0px 10px;
    flex: 1;
    text-decoration: none;
    color: black;
}

.Edit-Button {
    width: 70px;
    height: 30px;
    padding: 5px;
    border: none;
    outline: none;
    background: gray;
    color: antiquewhite;
}

.NameList > button {
    outline: none;
    padding: 4px 10px;
}

.Edit-Button:hover {
    color: aliceblue;
    background: red;
}